# single .env for entire workspace

# server / proxy
PORT=3000
SERVER_ORIGIN=http://localhost:3000
CLIENT_PORT=5173

DB_PATH=/absolute/path/to/db.sqlite

SEED_ADMIN_EMAIL="email@email.me"
SEED_ADMIN_USERNAME="username"
SEED_ADMIN_NAME="Full Name"
SEED_ADMIN_COUNTRY="NN"
SEED_ADMIN_PASSWORD="SeCreT1"
SEED_ADMIN_AVI="https://url.com/img.webp"

S3_ENDPOINT="https://<secret-token>.r2.cloudflarestorage.com"
S3_BUCKET="bucket_name"
S3_ACCESS_KEY_ID="<secret-token>"
S3_SECRET_ACCESS_KEY="<secret-token>"
S3_PUBLIC_BASE="https://url.com"
